.navbar {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
  }

ul.navbar-nav li.nav-item a.nav-link {
    color: #ffffff;
    font-size: large;
}

ul.navbar-nav li.nav-item :hover {
    color: #ffffff;
}

.panel-title {
    cursor: pointer;
}