<nav class="navbar navbar-expand-sm">

    <!-- Links -->
    <ul  class="navbar-nav">
        <li class="nav-item active">
            <a [routerLink]="['/employeeData']" [routerLinkActive]="['active']" class="nav-link" href="#">Employee Data</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/payData']" class="nav-link" href="#">Pay Data</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/mappingData']" class="nav-link" href="#">Mapping</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li  class="nav-item">
                <a class="nav-link" >
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
    </ul>
</nav>
<div class="container">
    <h2>Mapping Data</h2><br>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> 
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" target="_self" >Legacy System</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>Please upload Legacy System files</p>
              <label class="btn btn-default">
                  <input type="file" (change)="legacySelectFile($event)">
                </label>
                
                <button class="btn btn-success" [disabled]="!legacySelectedFiles"
                  (click)="legacyUpload()">Upload</button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" target="_self" >New System</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
              <p>Please upload New System files</p>
              <label class="btn btn-default">
                  <input type="file" (change)="newSelectFile($event)">
                </label>
                
                <button class="btn btn-success" [disabled]="!newSelectedFiles"
                  (click)="newUpload()">Upload</button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3" target="_self" >Mapping Data</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>Please upload New System files</p>
                <label class="btn btn-default">
                    <input type="file" (change)="empMappingSelectFile($event)">
                  </label>
                  
                  <button class="btn btn-success" [disabled]="!empMappingSelectedFiles"
                    (click)="empMappingUploadMethod()">Upload</button>
            </div>
          </div>
        </div>
    </div> 
    <div>
      <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#compareModal" (click)="compare()">Compare</button>
      <br><br>
      <div >
          <ag-grid-angular #agGrid style="width: 100%; height: 200px;" class="ag-theme-balham" [rowData]="gridOptions.rowData"
                       [gridOptions]="gridOptions" >
          </ag-grid-angular>
      </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="compareModal1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Modal Header</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>